<div class="row">
  <div class="col-6">
      <table>
        <tr>
          <td style="width: 700px;height:50%"><canvas id="lineChart"></canvas></td>
          <td style="width: 700px;height:50%"><canvas id="barChart"></canvas></td>
        </tr>
      </table>
  </div>
  <div class="col-6">
      <table>
        <tr>
          <td style="width: 700px;height:50%"><canvas id="pieChart"></canvas></td>
          <td style="width: 700px;height:50%"><canvas id="doughnutChart"></canvas></td>
        </tr>
      </table>
  </div>
  <div class="col-6">
      <table>
        <tr>
          <td style="width: 700px;height:50%"><canvas id="mixedChart"></canvas></td>
          <td style="width: 700px;height:50%"><canvas id="bubbleChart"></canvas></td>
        </tr>
      </table>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->